<!DOCTYPE html>
<html>
<head>
<title>Invoice List</title>
</head>
<body>
	<h3>Invoices</h3>
	<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Price</th>
			<th>Carrier</th>
			<th>Client</th>
		</tr>
	</thead>
	<tbody th:object="${invoices}">
		<!-- invoices is of type List<demo.models.Invoice> from demo.controllers.InvoiceController -->
		<tr th:each="inv:${invoices}">
			<td th:text="${inv.fbnumber}"></td>
			<td th:text="${inv.totbill}"></td>
			<td th:text="${inv.carrier}"></td>
			<td th:text="${inv.client}"></td>
		</tr>
	</tbody>
	</table>
	
	<a th:if="${page} > 0" th:href="@{/invoiceList(page=${page-1})}">Prev</a>
	<a th:if="${invoices.size()} == ${page_size}" th:href="@{/invoiceList(page=${page+1})}">Next</a>
</body>
</html>